{% extends "layout.html" %}

{% block title %}
    Cadastro Lote
{% endblock %}

{% block main %}
<form action="/cadLotes" method="post">
    <div class="mb-3">
        Data do Leilão:
        <select autofocus class="form-control mx-auto w-auto" name="leilao" id="leilao">
            {% for leilao in leiloes %}
            <option value="{{leilao[0]}}">{{leilao[0]}}: {{leilao[1]}}</option>
            {% endfor %}
        </select>
            
    </div>

    <div class="mb-3">
        Sexo:
        <select autofocus class="form-control mx-auto w-auto" id="sexo" name="sexo">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="X">X</option>
        </select>
        
    </div>
    <div class="mb-3">
        Raça:
        <select autofocus class="form-control mx-auto w-auto" id="raca" name="raca">
            <option value="Nelore">Nelore</option>
            <option value="Angus">Angus</option>
            <option value="Brahman">Brahman</option>
            <option value="Brangus">Brangus</option>
            <option value="Senepol">Senepol</option>
            <option value="Holandes">Holandês</option>
            <option value="Girolando">Girolando</option>
            <option value="GirLeite">Gir Leiteiro</option>
            <option value="Indubrasil">Indubrasil</option>
            <option value="Guzera">Guzerá</option>
        </select>
    </div>
    <div class="mb-3">
        Sexo:
        <select autofocus class="form-control mx-auto w-auto" id="idade" name="idade">
            <option value="0-12">0 a 12 meses</option>
            <option value="12-24">12 a 24 meses</option>
            <option value="24-36"> 24 a 36 meses</option>
            <option value="36+"> 36+ meses</option>
        </select>
        
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="qtd" name="qtd" placeholder="Quantidade" type="number">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="valorPedido" name="valorPedido" placeholder="Valor do Lote" type="text">
    </div>
    <div class="mb-3">
        Vendedor:
        <select autofocus class="form-control mx-auto w-auto" name="vendedor" id="vendedor">
            {% for client in clientsList %}
            <option value="{{client[0]}}">{{client[0]}} {{client[1]}}</option>
            {% endfor %}
        </select>
            
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}