{% extends "layout.html" %}

{% block title %}
    Leilões
{% endblock %}

{% block main %}
<div>
    <button class="btn btn-primary" ><a style="text-decoration:none; color: #fff;"  href="./cadLeilao">Cadastrar Novo Leilão</a></button>
</div>
<div class="w-80 p-3">

    <!-- Tabela de Clients -->

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>               
            <th scope="col">Leiloeiro</th>
            <th scope="col">Total Lotes</th>
            <th scope="col">Total Negociado</th>
            <th scope="col">Faturamento</th>
            <th scope="col">Encerrado</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for leilao in leiloes %}
          <tr>
            <th scope="row">{{leilao[0]}}</th>
            <td>{{leilao[2]}}</td>
            <td>{{leilao[4]}}</td>
            <td>{{leilao[5]}}</td>
            <td>{{"R$ %.2f"|format(leilao[7]|float)}}</td>
            <td>{{"R$ %.2f"|format(leilao[8]|float)}}</td>
            <td>{{leilao[6]}}</td>
            <td>
              <form action="./leilaoDetail" method="post">
                <button name="detalheLeilao" id="detalheLeilao" class="btn" value="{{leilao[0]}}">Detalhes</button>
              </form>  
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}