{% extends "layout.html" %}

{% block title %}
    Detalhamento Leilão
{% endblock %}

{% block main %}
<div class="w-80 p-3">

    <!-- RESUMO LEILÃO -->

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Total Lotes</th>
            <th scope="col">Total Negociado</th>               
            <th scope="col"> Total Comissões </th>
            <th scope="col"> Encerrado </th>
            <th scope="col"> Opções</th>
            
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>{{infos[2]}}</td>
            <td>{{infos[0]}}</td>
            <td>{{infos[1]}}</td>
            <td> - </td>
            <td> - </td>
            </tr>
          
        </tbody>
      </table>

</div>

<div class="w-80 p-3">

    <!-- Detalhes lotes -->

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Raça</th>
            <th scope="col">Sexo</th>               
            <th scope="col">Idade</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Comprador</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Valor Negociado</th>
            <th scope="col">Comissão</th>
          </tr>
        </thead>
        <tbody>
            {% for loteInfo in lotesDoLeilao %}
          <tr>
            <td>{{loteInfo[3]}}</td>
            <td>{{loteInfo[2]}}</td>
            <td>{{loteInfo[4]}}</td>
            <td>{{loteInfo[5]}}</td>
            <td>{{clients[loteInfo[9]]}}</td>
            <td>{{clients[loteInfo[10]]}}</td>
            <td>{{"R$ %.2f"|format(loteInfo[8]|float)}}</td>
            <td>{{"R$ %.2f"|format(loteInfo[11]|float)}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}